{% extends 'store/base.html' %}

{% block body %}




 <div class="p-5 flex justify-center items-center shadow-lg">
    <h1 class="font-bold text-xl justify-center items-center">Your Cart</h1>
 </div>
  
  
  {% for item in cart_items %}
      
  <div class="product shadow-lg w-1/4 h-auto rounded-lg m-20">
    <div class="product-image max-w-xl">
        <img src="{{item.product.image}}" alt="">
    </div>
    <div class="p-5">
        <div class="font-bold">
            {{item.product.name}}
        </div>
        <div class="font-semibold">
            {{item.product.description}}
        </div>
        <div class="text-green-700 font-bold">
            Price : ₹{{item.product.price}}
        </div> 
        <div class="text-green-700 font-bold">
            Rating : ☆{{item.product.rating}}
        </div>    
        <div class="font-bold quantity buttons_added" style="display: flex; flex-direction: row;">
            <form action="/product_decrement/{{item.product.id}}/" method="post">
                {% csrf_token %}
                <button>-</button>
            </form>
            <input type="text" name="quantity" style="text-align: center;" disabled="true" value="{{item.product_quantity}}">
            <form action="/product_increment/{{item.product.id}}/" method="post">
                {% csrf_token %}
                <button>+</button>
            </form>
        </div>

        <form action="{% url 'remove_from_cart' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="item-id" value="{{item.id}}">
            <input type="submit" class="btn bg-red-900 text-white font-semibold py-2 px-4 mt-3 rounded flex flex-col justify-center items-center" value="Remove from cart">
        </form>

        
    </div>

</div>

  
<script>
    console.log(item)
    // let product_quantity=item.product_quantity
    // console.log(product_quantity)
</script>


{% endfor %}



<div class="m-auto flex-col w-1/6 pb-40">
    <a href="{% url 'checkout' %}"><button class="bg-green-500 px-2 py-2 text-white shadow-lg rounded-lg" type="submit">Checkout</button></a>
</div>




{% endblock %}