{% extends 'store/base.html' %}
{% block body %}

<div class="flex flex-col items-center justify-center pt-20">
    <h1 class="font-bold text-xl">🙌 Contact Form</h1>
    <form method="post" class="shadow-lg p-10 w-1/2 flex flex-col items-center justify-center">
        {% csrf_token %}
        <div class="mb-2">
            <label for="name">Name:</label><br>
            <input class="border-2 border-blue-500 rounded py-2 px-2 mr-10" type="text" id="fname" name="name"><br>
        </div>
       
        <div class="mb-2 pt-5">
            <label for="email">Email address:</label><br>
            <input class="border-2 border-blue-500 rounded py-2 px-2 mr-10" type="text" id="fname" name="email"><br>
        </div>
        
        <div class="mb-2 pt-5">
            <label for="fmess">Message:</label><br>
            <textarea name="message" id="" cols="30" rows="10" class="border-2 border-blue-500"></textarea>
        </div>
        
       <div class="mb-2 pt-10 flex flex-col items-center justify-center">
           <button class="bg-green-500 px-2 py-2 rounded-md" type="submit">Send</button>
       </div>
        

      </form>
</div>

 <!-- <script>
    alert('Your message has been sent successfully !')
 </script> -->


{% endblock %}