{% extends 'store/base.html' %}

{% block body %}


 <div class="p-5 flex justify-center items-center shadow-lg">
    <h1 class="font-bold text-xl justify-center items-center">Your Wishlisted Products</h1>
 </div>

 <div class="product-container flex grid grid-cols-4">

 

  {% for item in wish_items %}
      
  <div class="product shadow-lg w-12/2 h-auto rounded-lg m-20">
    <div class="product-image max-w-xl">
        <img src="{{item.product.image}}" alt="">
    </div>
    <div class="p-5">
        <div class="font-bold">
            {{item.product.name}}
        </div>
        <div class="font-semibold">
            {{item.product.description}}
        </div>
        <div class="font-bold">
            Price : 
            <span class="font-bold text-green-700">₹{{item.product.price}}</span> 
        </div> 
        <div class="font-bold">
            Rating : 
            <span class="font-bold text-green-700">☆{{item.product.rating}}</span>
        </div>

          <form action="{% url 'add_to_cart' %}" method="post" class="px-8 mt-10">
            {% csrf_token %}
            
            <input type="hidden" name="product-id" value="{{item.product.id}}">
            <input type="submit" class="btn bg-red-900 text-white font-semibold py-2 px-4 mt-3 rounded flex justify-center items-center" value="Add to Cart">

          </form>

          <form action="{% url 'remove_from_wishlist' %}" method="post" class="mx-1">

            {% csrf_token %}
            <input type="hidden" name="item-id" value="{{item.id}}">
            <input type="submit" class="btn bg-red-900 text-white font-semibold py-2 px-4 mt-3 rounded items-center add_wishlist" value="Remove from wishlist">

            </form>

        
    </div>
</div>

  {% endfor %}


</div>



{% endblock %}